<!DOCTYPE html>
<html lang="en">
  <header>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/public/css/styles.css">
  </header>
  <head>
    <div class = "topnav">
      <a href = "/"><h3>Event Home</h3></a>
      <a href = "/createEvent"><h3>Create Event</h3></a>
      <a href = "/eventRegistration"><h3>Event Registration</h3></a>
      <a href = "/userSignUp"><h3>Sign Up</h3></a>
    </div>
  </br>
    <script src = "/public/js/events.js"></script>
    {{{body}}}
</html>