{{! When using res.render please add an argument for {title: ?} and {stylesheet: ?} so that we can dynamically use the code}}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>    {{! Using this for a dynamic title, please pass your titles when calling in routes}}
    <link rel="stylesheet" href="/public/css/main.css">
  </head>
  
  <body>
    {{header}}
    {{{body}}}      {{! Remeber the 3 brackets for specific dynamic elements}}
    {{footer}}   
    <script src="/public/js/main.js"></script>
  </body>
</html>