<!DOCTYPE html>
<html lang="en">
  <header>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Event Management System</title>
    <link rel="stylesheet" href="/public/css/main.css">
  </header>
  <head>
    <nav>
      <link href = "/views/eventRegistration.handlebars"/><h3>Profile Page</h3>
      <link href = "/views/profilePage.handlebars"/><h3>Event registration</h3>
      <link href = "/views/ratings.handlebars"/><h3>Event Ratings</h3>
      <link href = "/views/userSignUp.handlebars"/><h3>Sign Up</h3>
    </nav>
  </head>
  <body>
	<script src="index.js"></script>
  </body>
</html>