{{!-- <head>
    <title>Change Password</title>
</head>
<body>
    <h1>Change Password</h1>
    <form id="password-form" class="form" action="/user/changePassword/{{user._id}}" method="POST">
    <input type="hidden" name="_method" value="PATCH">
        <div class="form">
            <label for="password">Current Password:</label>
            <input type="text" id="passwordInput" name="passwordInput" required>
         </div>
        <div class="form">
            <label for="newPasswordInput">New Password:</label>
            <input type="text" id="newPasswordInput" name="newPasswordInput" required>
        <div class="form">
            <label for="confirmPasswordInput">Confirm Password:</label>
            <input type="password" id="confirmPasswordInput" name="confirmPasswordInput" required>
        </div>
        <button type="submit" class="button">Change</button>
    </form>
    <p>Change your mind? <a href="/user/profile/{{user._id}}">Go back to your profile.</a></p>
</body> --}}