<!DOCTYPE html>
 <h1>Create Event</h1>
{{!-- <main>
    <form action="/createEvent" method="POST" id = "eventForm">
        <table>
        <tr>
            <td>
                <label type= "text" id = "userName">User name</label>
                <input type= "text" id="userName" name="userName">
            </td>
        </tr>
        <tr>
            <td>
                <label type= "text" id = "eventName">Event name</label>
                <input type= "text" id = "eventName" name="eventName">
            </td>
        </tr>
        <tr>
            <td>
                <label type= "text" id = "date">Date</label>
                <input type="datetime-local">
            </td>
        </tr>
        <tr>
            <td>
                <label type="text" id = "location">Location</label>
                <input type="text" id="location" name="location">
            </td>
        </tr>
        <tr>
            <td>
                <div class="dropdown">
                <label type= "text" id = "category">Category</label>
                <select class = "category" name = "category">
                    <option value="Party">Party</option>
                    <option value="Birthday">Birthday</option>
                    <option value="Wedding">Wedding</option>
                    <option value="Anniversary">Anniversary</option>
                    <option value="Baby Shower">Baby Shower</option>
                    <option value="Holiday Celebration">Holiday Celebration</option>
                    <option value="Religious Holiday">Religious Holiday</option>
                    <option value="Get Together">Get Together</option>
                    <option value="Business Meeting">Business Meeting</option>
                    <option value="Casual Hangout">Casual Hangout</option>
                    <option value="Business Get-Together">Business Get-Together</option>
                    <option value="Vacation">Vacation</option>
                    <option value="Other">Other</option>
                </select>
                </div>
            </td>
        </tr>
        <tr>
            <td>
            <label type="text" id = "description">Description</label>
            <input type="text" id="description" name="description">
            </td>
        </tr>
        <tr>
            <td>
            <label type="text" id = "nearByPort">Near By Port</label>
            <input type="text" id="nearByPort" name="nearByPort">
            </td>
        </tr>
        <tr>
            <td>
            <label type="text" id = "eventMode">Event Mode</label>
            <input type="text" id="eventMode" name="eventMode">
            </td>
        </tr>
             <td>
            <label type="text" id = "registrationFee">Registration Fee</label>
            <input type="text" id="registrationFee" name="registrationFee">
            </td>
        </tr>
         </tr>
             <td>
            <label type="text" id = "contactPerson">Contact Person</label>
            <input type="text" id="contactPerson" name="contactPerson">
            </td>
        </tr>
        </tr>
             <td>
                <button type = "Submit">Submit</button>
            </td>
        </tr>

    </table> --}}

    {{!-- </form>
</main> --}}
<body class="createEvent">
    <h1>Create Your Event</h1>
    <main class="createEvent">
        <form class="createEvent" id="eventCreation-form" method="POST">
            <label for="eventName">
                Event Name:
                <input type="text" name="eventNameInput" id="eventNameInput">
            </label>
            <br>
            
            {{! This might be better with a calander input? Unsure how to implement}}
            <label for="dateInput">
                Date:
                <input type="date" name="dateInput" id="dateInput"
                min="2024-01-01">
            </label>
            <br>

            <label for="locationInput">
                Location:
                <input type="text" name="locationInput" id="locationInput">
            </label>
            <br>

            <label for="descriptionInput">
                Description:
                <input type="text" name="descriptionInput" id="descriptionInput">
            </label>
            <br>

            <label for="modeInput">
                Event Mode:
                <select type="eventMode" name="modeInput" id="modeInput">
                   <option value="online">Online</option>
                   <option value="person">In-Person</option>
                </select>
            </label>
            <br>

            <label for="feeInput">
                Registration Fee:
                <input type="text" name="feeInput" id="feeInput">
            </label>
            <br>

            <label for="permInput">
                Who's Coming:
                <select type="permission" name="permInput" id="permInput">
                   <option value="public">Public</option>
                   <option value="private">Private</option>
                </select>
            </label>
            <br>

            <label for="categoryInput">
                Cateogry:
                <input type="text" name="categoryInput" id="categoryInput">
            </label>
            <br>

            <label for="portInput">
                Nearest Port:
                <input type="text" name="portInput" id="portInput">
            </label>
            <br>
            <button type="submit" name="action" value="save">Save For Later</button>
            <button type="submit" name="action" value="publish">Publish Event</button>
        </form>
    </main>
    {{#if hasErrors}}
        <ul class="error-list">
            {{#each errors}}
                <li>
                    {{this}}
                </li>
            {{/each}}
        </ul>
    {{/if}}
    {{! <a href="/profile">Back to your profile</a> once routes are worked out}}
</body>
