<head>
    <title>Error</title>
</head>
<body>
    <h1>You're not supposed to be here.</h1>
    <p>Lets get you back to where you belong.</p>
    <div class="text-center">
    <a href="/login">Login</a>
    <a href="/register">Register</a>
    </div>
</body>