{{! Simple extension to the main html file}}
{{! Remember that you don't full html structure for extensions}}

<h1>Events</h1>
<div id="eventSearch">
<h2>Search Events</h2>
<form id="eventSearch-form" action="/event/search" method="POST">
  <label for="eventNameInput">Event Name:</label>
  <input type="text" id="eventNameInput" name="eventNameInput">
  
  <label for="categoryInput">Category:</label>
  <input type="text" id="categoryInput" name="categoryInput">
  
  <label for="dateInput">Date:</label>
  <input type="date" id="dateInput" name="dateInput">
  
  <label for="registrationFeeInput">Registration Fee:</label>
  <select id="registrationFeeInput" name="registrationFeeInput">
    <option value="">Any</option>
    <option value="free">Free</option>
    <option value="chargeable">Chargeable</option>
  </select>
  
  <button type="submit">Search Event</button>
</form>
</div>

<div id="eventList">
    <h2>Event List</h2>
    <div id="eventSearchList">Search Result</div>
<ul>
    {{#each events}}
    <li><a href="/event/{{this._id}}">{{this.eventName}}</a></li>
    {{/each}}
</ul>
</div>

<div id="eventForm">
<h2>Create Event</h2>
<form id="event-form" action="/event/create" method="POST">
  <label for="eventNameInput">Event Name:</label>
  <input type="text" id="eventNameInput" name="eventNameInput" required>
  
  <label for="eventDateInput">Date:</label>
  <input type="date" id="eventDateInput" name="eventDateInput" required>
  
  <label for="locationInput">Location:</label>
  <input type="text" id="locationInput" name="locationInput" required>
  
  <label for="categoryInput">Category:</label>
  <input type="text" id="categoryInput" name="categoryInput" required>
  
  <label for="descriptionInput">Description:</label>
  <textarea id="descriptionInput" name="descriptionInput" required></textarea>
  
  <label for="nearByPortInput">Near By Port:</label>
  <input type="text" id="nearByPortInput" name="nearByPortInput">
  
  <label for="eventModeInput">Event Mode:</label>
  <select id="eventModeInput" name="eventModeInput" required>
    <option value="virtual">Virtual</option>
    <option value="physical">Physical</option>
  </select>
  
  <label for="registrationFeeInput">Registration Fee:</label>
  <select id="registrationFeeInput" name="registrationFeeInput" required>
    <option value="free">Free</option>
    <option value="chargeable">Chargeable</option>
  </select>
  
  <label for="contactPersonInput">Contact Person:</label>
  <input type="text" id="contactPersonInput" name="contactPersonInput" required>
  
  <button type="submit">Create Event</button>
</form>
</div>
