<!DOCTYPE html>
<html lang="en">
  <header>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Main Setup</title>
    <link rel="stylesheet" href="/public/css/eventHome.css">
  </header>
  <head>
  </head>
  <body>
    <h1>Welcome to Event Management System!</h1>
    <h3>This site allows you to register,schedule, manage and sell events in an effcient and organized manner.
      Get started today by signing up for a free account!
    </h3>
  </body>
</html>