<!DOCTYPE html>
<main>
    <h1>Welcome to  the Event Management System Website!</h1>
    <h3>This site allows you to register,schedule, manage and sell events in an efficient and organized manner.
      Get started today by signing up for a free account!
    </h3>
</main>