<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logout</title>
    <link rel="stylesheet" href="/public/css/styles.css">
</head>
<body>
    <h1>Logout</h1>
    <p>You have successfully logged out.</p>
    <p><a href="/">Return to Home Page</a></p>
</body>
</html>
