/*
You will style your page using at least 10 CSS selectors for general CSS styling. You will place the CSS in its own file. 
*/

/*This file should have 10 CSS rulesets */
/* General styles */
body {
    font-family: Arial, sans-serif;
    background-color: rgb(240, 242, 243);
    color: #f8f7f7f5;
    margin: 0;
    padding: 0;
}

button {
    background-color: rgb(255, 255, 255);
}

/* Main content styles */
main {
    max-width: 800px;
    max-height:1000px;
    margin-top: 500px auto;
    margin-left:450px;
    padding: 10px;
    background-color: #0b3b6b;
    box-shadow: 0 0 10px rgba(8, 1, 1, 0.1);
}

/* Headings */
h1, h2 {
    color: black;
    text-align: center;
    margin-left:80px
}

/* Paragraphs */
p {
    line-height: 1.6;
}

/* Forms */
form {
    display: flex;
    justify-content: center;
    margin: 1em 0;
}

label {
    display: block;
    margin-top: 12px;
    margin-bottom: 8px;
    font-weight: bold;
}

input, button {
    padding: 0.5em;
    margin: 0.5em;
  }

/* Lists */
ol, ul {
    padding-left: 20px;
}

.error {
    color: red;
    text-align: center;
  }
  
  ol {
    list-style: none;
    padding: 0;
  }
  
  li {
    padding: 0.5em;
    margin: 0.5em 0;
  }
  
  .prime {
    color: #00ff00;
    text-align: center;
  }
  
  .not-prime {
    color: #ff0000;
    text-align: center;
  }

.createEvent, .editEvent {
    display: block;
    text-align: center;
}
.error-list li {
  color: #ff0000;
}

